* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: lightgoldenrodyellow;
  font-family: 'Lato', sans-serif;
}
section,
footer,
header {
  padding: 1rem;
}

p {
  margin: 0.5rem 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  display: inline-block;
}

.btn {
  border: none;
  border-radius: 5px;
  box-shadow: none;
  padding: 0.5rem 1rem;
  background-color: orange;
  font-family: inherit;
  font-size: inherit;
  color: white;
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
